

#heroSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}



#heroSection #DivMainTextHeroSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#heroSection #DivMainTextHeroSection #bgHero{
    position:absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -2;

}

#heroSection #textHeroSection{
    max-height: 700px;
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

#heroSection #textHeroSection span{
    color: var(--color-text-blue);
}

#heroSection #imgHeroSection{
    position: relative;
}

#heroSection #imgHeroSection img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transform: translateY(-50px);
    border: solid 5px #333;
    z-index: 2;
}

#heroSection #imgHeroSection span{
    width: 90%;
    height: 100%;
    display: inline-block;
    background-color: var(--color-text-purple);
    border-radius: 20%;
    position: absolute;
    top: 0px;
    left: 50%;
    opacity: 0.5;
    transform: translate( -50%, -50px);
    z-index: -2;
    box-shadow: 0px -10px 100px var(--color-text-purple);
}

@media(max-width: 500px){
    #heroSection #textHeroSection{
        width: 100%;
    }
}