@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
 
:root{
  --color-title: #f0f0f0;
  --color-text: #ccc;
  --color-text-blue: rgb(30, 145, 236);
  --color-text-purple: #9333ea;
  --bg-color-main: #00021e;
  --linear-gradient: linear-gradient(
    45deg,
    var(--color-text-blue),
    var(--color-text-purple)
  );

  --animation-BottonToTop:  BottonToTop 2s both;
}

.animation-BottonToTop{
  animation: var(--animation-BottonToTop);
}

.hiddenItem{
  display: none;
}

body{
  background-color: var(--bg-color-main);
  direction: rtl;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color-main);
  box-shadow: inset 0 0 5px grey
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: var(--linear-gradient);
  border-radius: 10px;
}



.container{
  padding: 0px 40px;
  max-width: 1280px;
  margin: 0px auto;

}

@media(max-width:450px){
  .container{
    padding: 0px 5px;
    max-width: 1280px;
    margin: 0px auto;
  }
}

h1,h2,h3,h4,h5,h6{
  color: var(--color-text);
}

h2{
  font-size: 65px;
  font-weight: 700;
}

@media(max-width:500px){
  h2{
    font-size: 50px;
  }
}

a,p,span,label,pre{
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500px;
}

a{
  text-decoration: none;
  font-size: 14px;
}

svg{
  color: var(--color-text);
}

.button{
  background-color: var(--color-text);
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  border: solid 1px var(--color-text-purple);
  transition: 0.5s;
}

.button a{
  color: var(--color-text-purple);
}

.button:hover{
  background-color: transparent;
  color: var(--color-text);
  background-image: var(--linear-gradient);
  border: none;
}

.button:hover a{
  color: var(--color-text);
}


@keyframes BottonToTop{
  0%{
      transform: translateY(200px);
      opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

