

#order{
    margin-top: 100px;
    background-color: #111827;
    overflow: hidden;
    width: 100%;
    padding: 30px;
}

#order #textOrder{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#order #textOrder h3{
    font-size: 40px;
    font-weight: 700;
    color: var(--color-text-blue);
    text-align: center;
}

#order #textOrder p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

#order #textOrder #svg{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

@media(max-width:1020px){
    #order #textOrder #svg svg{
        opacity: 0.2;
    }
}

#order #textOrder form{
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 54px;
    display: flex;
    align-items: center;
}



#order #textOrder form span{
    display: inline-block;
    width: 2px;
    height: 34px;
    background-color: #111827;
}

#order #textOrder form input{
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 20px;
}
#order #textOrder form input:focus{
    outline: 3px solid var(--color-text-blue);
}

#order #textOrder form #butSub{
    background-color: var(--color-text-blue);
    box-sizing: 7px;
    font-family: 60px;
    padding: 5px 15px;
    color: #f0f0f0;
    width: 100px;
    cursor: pointer;
}

@media(max-width:1000px){
    #order #textOrder input{
        width: 100%;
    }
    #order #textOrder form{
        display: flex;
        align-items: center;
        width: 100%;
    }
}

@media(max-width:680px){
    #order #textOrder input{
        width: 100%;
    }
    #order #textOrder form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }
    #order #textOrder form #butSub{
        width: 100%;
        margin: 5px 0px;
    }
    #order #textOrder form span{
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #111827;
        margin: 5px 0px;
    }
}



