
#form{
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 54px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0px auto;
    margin-top: 40px;
}

#form span{
    display: inline-block;
    width: 2px;
    height: 34px;
    background-color: #111827;
}

#form input{
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 20px;
}
#form input:focus{
    outline: 3px solid var(--color-text-blue);
}

#form #butSub{
    background-color: var(--color-text-blue);
    box-sizing: 7px;
    font-family: 60px;
    padding: 5px 15px;
    color: #f0f0f0;
    width: 100px;
    cursor: pointer;
}

@media(max-width:950px){
    #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }
    #form input{
        width: 100%;
    }
    #form #butSub{
        width: 100%;
        margin: 5px 0px;
    }
    #form span{
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #111827;
        margin: 5px 0px;
    }
}