/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Svg/SvgStyle.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

 #svg{
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 100px;
    overflow: hidden;
    
}

@media(max-width:1020px){
 #svg svg{
        opacity: 0.2;
    }
}






